<a href="https://www.kaggle.com/code/xopherw/beijing-housing?scriptVersionId=127128245" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import re

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/lianjia/new.csv

In [2]:
df = pd.read_csv("/kaggle/input/lianjia/new.csv", encoding="gb2312")
df.info()

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (1,11,12,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318851 entries, 0 to 318850
Data columns (total 26 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   url                  318851 non-null  object
 1   id                   318851 non-null  object
 2   Lng                  318851 non-null  float64
 3   Lat                  318851 non-null  float64
 4   Cid                  318851 non-null  int64
 5   tradeTime            318851 non-null  object
 6   DOM                  160874 non-null  float64
 7   followers            318851 non-null  int64
 8   totalPrice           318851 non-null  float64
 9   price                318851 non-null  int64
 10  square               318851 non-null  float64
 11  livingRoom           318851 non-null  object
 12  drawingRoom          318851 non-null  object
 13  kitchen              318851 non-null  int64
 14  bathRoom             318851 non-null  object
 15  floor                318851 non-null  object
 16  buildingType         316830 non-null  float64
 17  constructionTime     318851 non-null  object
 18  renovationCondition  318851 non-null  int64
 19  buildingStructure    318851 non-null  int64
 20  ladderRatio          318851 non-null  float64
 21  elevator             318819 non-null  float64
 22  fiveYearsProperty    318819 non-null  float64
 23  subway               318819 non-null  float64
 24  district             318851 non-null  int64
 25  communityAverage     318388 non-null  float64
dtypes: float64(11), int64(7), object(8)
memory usage: 63.2+ MB

In [3]:
df["livingRoom"].value_counts()

2         83333
2         77256
1         42138
1         40248
3         36044
3         31567
4          3472
4          3349
5           570
5           537
6           126
6           102
#NAME?       32
7            22
0            17
7            15
0            11
8             4
8             3
9             3
9             2
Name: livingRoom, dtype: int64

The 2nd line below is to remove the non-numeric special characters. The rest of the rows contain numeric values and removed characters left numbers only.

In [4]:
drop_cols = ["url", "DOM", "id", "Cid", "tradeTime", "followers", "constructionTime", "renovationCondition", "district"]
drop_list = [92251,92251,92267,92270,92297,92299,92300,92304,92340,92349,92356,92235,92398,92409,92414,92467,92520,92610,92660,92814,92845,92899,113275,141376,208214,220567,220569,220570,220603,224349,243731,244054,245394]
df["floor"] = df["floor"].drop(drop_list)
df = df.dropna(subset=['floor'])
df = df.drop(drop_cols, axis=1)

df["floor"] =  [int(i) for i in df["floor"].str.replace('[^\x00-\x7F]','')]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys

buildingType: including tower( 1 ) , bungalow( 2 )ï¼Œcombination of plate and tower( 3 ), plate( 4 ).

buildingStructure: including unknow( 1 ), mixed( 2 ), brick and wood( 3 ), brick and concrete( 4 ),steel( 5 ) and steel-concrete composite ( 6 ).

ladderRatio: the proportion between number of residents on the same floor and number of elevator of ladder. It describes how many ladders a resident have on average.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 318819 entries, 0 to 318850
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Lng                318819 non-null  float64
 1   Lat                318819 non-null  float64
 2   totalPrice         318819 non-null  float64
 3   price              318819 non-null  int64
 4   square             318819 non-null  float64
 5   livingRoom         318819 non-null  object
 6   drawingRoom        318819 non-null  object
 7   kitchen            318819 non-null  int64
 8   bathRoom           318819 non-null  object
 9   floor              318819 non-null  int64
 10  buildingType       316798 non-null  float64
 11  buildingStructure  318819 non-null  int64
 12  ladderRatio        318819 non-null  float64
 13  elevator           318819 non-null  float64
 14  fiveYearsProperty  318819 non-null  float64
 15  subway             318819 non-null  float64
 16  communityAverage   318356 non-null  float64
dtypes: float64(10), int64(4), object(3)
memory usage: 43.8+ MB

In [6]:
df["livingRoom"] = df["livingRoom"].astype(int)
df["drawingRoom"] = df["drawingRoom"].astype(int)
df["bathRoom"] = df["bathRoom"].astype(int)

After converting everything to numerics, there are only few NaN values in communityAverage.

In [7]:
df.to_csv("beijing_housing.csv", index=False)